body {
	font-family: "Microsoft YaHei";
	
}
.schapp-banner{
	margin:50px 5% 0;
}
.schapp-topbar .navbar-brand-schapp > img{
	height: 30px;
	margin-top:-5px;
	display: inline;vertical-align: top;
}
.schapp-topbar .navbar-brand-schapp > span{
	
}
.schapp-body{ 
	margin: 0 5%;
	min-height: 330px;
}
.schapp-content{
	margin: 0 0%;
}
.schapp-navi-breadcrumb{
	margin: 0 0%;
}
.schapp-footer{
	padding: 40px 0;
	margin-top: 80px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
#tipbox0 {
	display:none;position: fixed;
	top: 10px;height:30px;min-width:200px;float: left;
	margin:0 40%;
}
#tipbox-wrapper{
	float: left;position: fixed;
	top:0;text-align:center;height: 10px;margin-left:auto; margin-right:auto; width:100%;
}
#tipbox {
	display:none; /* position: fixed;float: left;*/
	background-color:#009900;color:white;font:bold 18pt;padding:5px;text-align:center;
	border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
	top:0;height:30px;width: 180px;
	margin:0 auto;
}
.modal-header-sch {
	color:black;
    background-color: white;
 }
 
.dss-navi-breadcrumb {
	position: relative;
	top:10px;
	height: 25px;
	background-color: #f2f2f2;
	overflow: hidden;
}

.dss-content {}
.dss-content table.dsst {width:100%;}

